Cerberus==1.2
click==6.7
cmake==0.7.1
dlib==19.15.0
Eve==0.8
Events==0.3
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.0.2
Flask-API==1.0
Flask-Cors==3.0.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.1
Pillow==5.2.0
pymongo==3.7.1
simplejson==3.16.0
six==1.11.0
Werkzeug==0.14.1
